.NavFlex{
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #00bfff;
    /* background-color:transparent; */
    background-color: black;
    color:aqua;                                     
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* margin-bottom: 50px; */
   position: fixed;
   top: 0px;
   cursor: pointer;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.flexNav2{
    width: 50%;
    justify-content: space-between;
    align-items: center;
   margin-right: 30px;
}
.Hamburger{
  display: none;
}
@media only screen and (max-width: 479px) {
   .NavFlex{
    width: 100%;
    font-size: 12px;
    background-color: teal;
    font-weight: 500;
   }
   .flexNav2{
    /* flex-direction: column; */
    gap:5px;
    
   }
  }
  @media only screen and (min-width: 480px) and (max-width:768px){
  .NavFlex{
    
    font-size: 16px;
    background-color: green;
    padding-right: 20px;
   
   }
   .flexNav2{
    width: 60%;
    gap:15px
   } 

  }
.GautiBox>link:hover{
    color: red;
    background-color: green;
}