
  .techsection {
    width: 100%;
    text-align: center;
    background-color: var(--clr-bg);
    height: 70vh;
    margin-top: -5%;    
  }
  .section__title{
   margin-top: 5%;
    color: #fff;
  }
  
  .techsection > div {
    width: 10%;
    height: 20vh;
    box-shadow: var(--shadow);
    border-radius: 20px;
    margin: 3%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease 0s;
  }
  .techsection > div:hover {
    box-sizing: border-box;
    transform: scale(1.08);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .techsection > div > svg {
    height: 50%;
    width: 50%;
    color: var(--clr-primary);
  }
  .techsection > div > h5 {
    position: relative;
    top: 8px;
  }
  .text{
    font-size:25px;
    font-weight:400
  }
  
  @media (max-width: 620px) {
    .techsection {
      height: 120vh;
      margin-bottom: -20%;
    }
    .techsection > div {
      width: 40%;
      margin-right: 5%;
      margin-bottom: 2%;
      height: 18vh;
    }
    .text{
        font-size:18px;
        font-weight:600
      }
  }
  @media (min-width: 621px) and (max-width:889px){
    .text{
        font-size: 18px;
    }

  }
  